[SddmGreeterTheme]
Name=Password Minimalist Theme
Description=Provides a password only login interface
Author=CompEng0001
Copyright=(c) 2022,CompEng0001
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/CompEng0001/my-sddm-theme
Screenshot=screens/screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
Email=compeng0001@outlook.com
Theme-Id=my-sddm
Theme-API=2.0

